@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Rubik:wght@400;500;600&display=swap');
body {
    background-color: rgb(255, 166, 134);
    margin: 20px;
    border: solid 1px ;
    border-radius: 10px;
    padding: 20px;
    font-family: 'Rubik', sans-serif;
}